html {
    height: 100%;
}
body {
    height: 100%;

    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
}

.header {
    display: grid;
    grid-template-areas: "header__logo header__title" "header__button header__button" "header-nav header-nav";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    grid-area: header;

    background-color: aqua;
}

.header__logo {
    grid-area: header__logo;

    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
}

.header__button {
    grid-area: header__button;
    background-color: #3498db;
    color: white;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    border: none;
    max-width: 10rem;
}
.header-nav {
    grid-area: header-nav;
}

.header__title {
    grid-area: header__title;
}

.header-nav__list {
    max-height: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    color: white;
    overflow: hidden;
}

.header-nav__list a {
    margin: 1rem;
}

.header-nac__item {
    padding: 0.5rem;
    border: 0.07rem solid black;
    text-decoration: none;
    border-radius: 0.625rem;
    font: inherit;
}

.active {
    max-height: initial;
}

.main {
    background-color: antiquewhite;

    grid-area: main;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}

.main__header {
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.main__content {
    margin: 0;
}
.cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

.card {
    grid-column: span 4;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
    border: 0.05rem solid black;
    border-radius: 1rem;
    background-color: #ffffe8;
}

.card__pic {
    max-width: 10rem;
}

.card__title {
    margin: 0;
    padding: 0.5rem;
}

.card__link {
    margin-top: auto;
    padding: 0.5rem;
    border: 0.07rem solid black;
    border-radius: 0.625rem;

    color: black;
    background-color: lime;

    font: inherit;
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-area: footer;

    padding: 1rem;
    background-color: lightcoral;
}

.footer-nav__menu {
    margin: 0;
    padding: 0;
}

.footer-nav__item {
    list-style: none;
}

@media (min-width: 50rem) {
    .form__label {
        display: flex;
        flex-direction: row;
    }

    .form__input {
        min-width: 20rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    .form__select {
        max-width: 100%;
    }
}
